Repository b4hia/sacramento: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

feature: include new packs and compedium structure
  css/sacramento-rpg.css
  module/documents/actor.mjs
  module/sheets/actor-sheet.mjs
  system.json
  templates/actor/actor-character-sheet.hbs
  templates/compendium/browser-entry.hbs
  templates/compendium/browser-footer.hbs
  templates/compendium/browser-header.hbs
  templates/compendium/browser-results.hbs
  templates/compendium/browser-sidebar-filter-set.hbs
  templates/compendium/browser-sidebar-filters.hbs
  templates/compendium/browser-sidebar-search.hbs
  templates/compendium/browser-sidebar-types.hbs
  templates/compendium/browser-tabs.hbs
  templates/compendium/sources-packs.hbs
  templates/compendium/sources-sidebar.hbs
  templates/item/details/details-equipament.hbs
  templates/item/details/details-item.hbs
  templates/item/details/details-skill.hbs
  templates/item/details/details-weapon.hbs
  templates/item/item-activities.hbs
  templates/item/item-description.hbs
  templates/item/item-effects.hbs
  templates/item/item-feature-sheet.hbs
  templates/item/item-sheet.hbs
  templates/item/item-skill-sheet.hbs
Due: prettier --write, eslint --fix

style: add fonts
  fonts/FolkafeRegular.ttf
  fonts/FolkafeRegular.woff
  templates/item/item-item-sheet.hbs
Due: prettier --write

config: add files to gitignore
  .gitignore
Due: none

config: add files to gitignore
  package-lock.json
Due: none

chore(release): 0.0.2
  CHANGELOG.md
  package.json
Due: none

feat: adicionar configuracoes de montaria na ficha de pj
  css/sacramento-rpg.css
  icons/common/Roll.svg
  module/documents/actor.mjs
  module/documents/item.mjs
  module/helpers/templates.mjs
  module/sheets/actor-sheet.mjs
  packs-src/habilidades.json
  template.json
  templates/actor/actor-character-sheet.hbs
  templates/actor/parts/actor-items.hbs
  templates/actor/parts/actor-mount-items.hbs
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{hbs,less}) or (any of: *.mjs)
  eslint --fix: any of: *.mjs
